<!DOCTYPE html>
<html>
<head>
  <title>ManybotsTwitter</title>
  <%= stylesheet_link_tag    "manybots-twitter/application", :media => "all" %>
  <%= javascript_include_tag "manybots-twitter/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
